* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-weight: normal;
    font-style: normal;
    color: #0E0D09;
    font-size: 16px;
    position: relative;
    background-repeat: no-repeat;
}

img {
    display: block;
}

.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header__mobile {
    display: none;
}

.header__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #928A83;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1220px;
    width: 95%;
    margin: 0 auto;
    z-index: 111;

}

.header__desktop.header__desktop-active {
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 2.08%, rgba(0, 0, 0, 0.3) 100%);
    box-shadow: 0 0 10px 0 #000;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.nav-list__item:hover .nav-list__link,
.nav-list__link.active-nav-link {
    color: #87AE1B;
}

.nav-list__item:not(:last-child) {
    margin-right: 24px;
}

.nav-list__link,
.phone-number {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FCFCFC;
    transition-duration: .4s;
}

.header__phones {
    display: flex;
    align-items: center;
}

.phones-block {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.phone-number:hover .icon {
    fill: #87AE1B;
}

.phone-number:hover {
    color: #87AE1B;
}

.phone-number:first-child {
    margin-bottom: 8px;
}

.order-call {
    background: #FCFCFC;
    border-radius: 3px;
    min-width: 176px;
    padding: 17px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #87AE1B;
    cursor: pointer;
    transition-duration: .4s;
    border: 2px solid transparent;
}

.order-call:hover {
    color: #fcfcfc;
    background: transparent;
    border: 2px solid #87AE1B;
}

.header__desktop-active .order-call {
    background: #87AE1B;
    color: #fcfcfc;
}

.header__desktop-active .order-call:hover {
    background: #fcfcfc;
    color: #87AE1B;
    border: 2px solid #87AE1B;
}

.header__desktop-active .order-call:hover .icon {
    fill: #87AE1B;
}

.order-call .icon,
.phone-number .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
    fill: #87AE1B;
    transition-duration: .4s;
}

.phone-number .icon {
    fill: #fcfcfc;
}

.header__desktop-active .order-call .icon {
    fill: #fcfcfc;
}

.slider-controls {
    cursor: pointer;
    border: none;
    background: none;
}

.slider-controls .icon {
    width: 40px;
    height: 40px;
    fill: #FCFCFC;
}

.slider-controls.swiper-button-disabled {
    opacity: .4;
}

.main-slider__content {
    max-width: 675px;
    width: 100%;
}

.main-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-top: 24px;
    margin-bottom: 0;
}

.main-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;
    color: #FCFCFC;
}

.main-button {
    background: #87AE1B;
    border-radius: 3px;
    min-width: 233px;
    border: none;
    padding: 17px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fcfcfc;
    cursor: pointer;
    position: relative;
    transition-duration: .4s;
}

.main-button .icon {
    width: 24px;
    height: 12px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all .4s;
}

.main-button:hover {
    background: #668a05;
}

.main-button:hover .icon {
    opacity: 1;
    transform: translateX(10px);
}

.swiper-slide__content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.swiper-slide__content::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 2.08%, rgba(0, 0, 0, 0.3) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.swiper-slide__main {
    background-image: url('../images/main-slides/slide1.png');
}

.swiper-slide__next {
    background-image: url('../images/main-slides/slide2.png');
}

.swiper-slide__last {
    background-image: url('../images/main-slides/slide3.png');
}

.swiper-slide__content_blok {
    padding-top: 300px;
}

.swiper-wrap {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 25%;
    left: calc(50% + 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-item__preview {
    width: 164px;
    height: 108px;
}

.slide-item {
    cursor: pointer;
    background-color: rgba(51, 51, 51, .4);
    width: 176px;
    margin-bottom: 16px;
    position: relative;
    border: 2px solid transparent;
}

.slide-item_text {
    max-width: 155px;
    font-size: 14px;
    line-height: 14px;
    color: #fcfcfc;
    font-weight: 500;
}

.slide-item__box {
    width: 164px;
    margin: 0 auto;
    padding-top: 6px;
}

.slide-item.slide-item_active {
    animation: borderRun 1s forwards;
}

.burger-menu {
    display: none;
}

.navigation__mobile {
    display: none;
}

.about-building {
    background-color: #fcfcfc;
    padding-top: 120px;
    padding-bottom: 60px;
    position: relative;
}

.about-building::after {
    content: "";
    position: absolute;
    border-left: 2px solid #87AE1B;
    width: 2px;
    height: 203px;
    z-index: 1;
    left: 350px;
    top: -80px;
}

.about-building__content {
    max-width: 590px;
    margin-top: 64px;
    margin-bottom: 64px;
    position: relative;
}

.about-building::before {
    content: "";
    position: absolute;
    width: 928px;
    height: 585px;
    background-image: url('../images/about-building/building.png');
    top: 120px;
    right: 0;
    z-index: 1;
    border: 10px solid #87AE1B;
    border-radius: 3px;
}

.section-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #87AE1B;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

.section-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 16px;
}

.section-text:last-child {
    margin-bottom: 24px;
}

.sections-plann {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sections-plann .section-title {
    max-width: 500px;
}

.sections-plann .section-title span {
    display: block;
}

.sections-plann__content {
    display: flex;
    align-items: center;
}

.sections {
    background: #F6F8F1;
    padding-top: 72px;
    padding-bottom: 71px;
    padding-left: 33px;
    min-width: 592px;
    width: 100%;
}

.sections-building {
    margin-bottom: 32px;
}

.sections-building__title,
.sections-planning__title {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 7px;
}

.sections-building__bnt {
    background: transparent;
    border: 1px solid #928A83;
    color: #928A83;
    border-radius: 3px;
    min-width: 171px;
    padding: 16px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    position: relative;
    transition-duration: .4s;
}

.sections-building__bnt:first-child {
    margin-right: 24px;
}

.sections-building__bnt.building__btn--active {
    background: #87AE1B;
    border: 1px solid transparent;
    color: #fcfcfc;
    outline: none;
}

.floors-controls {
    cursor: pointer;
    border: none;
    background: none;
}

.floors-controls .icon {
    width: 40px;
    height: 40px;
}

.planning img {
    max-width: 592px;
    max-height: 406px;
}

.sections-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.sections-planning__container {
    display: flex;
}

.sections-planning {
    margin-right: 32px;
}

.sections-ctm-label,
.sections-ctm-label2 {
    background: transparent;
    border: 1px solid #928A83;
    border-radius: 3px;
    color: #928A83;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.sections-label:not(:last-child) {
    margin-right: 8px;
}

.sections-input {
    display: none;
}

.sections-label .sections-input[type=radio]:checked + .sections-ctm-label,
.sections-label .sections-input[type=radio]:checked + .sections-ctm-label2 {
    background: #87AE1B;
    color: #FCFCFC;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.sections-floors__controls {
    display: flex;
    align-items: center;
}

.floors-controls .icon {
    fill: #E2E2E2;
}

.floors-controls .icon > use {
    fill: #928A83;
}

.sections-floors__counter {
    margin-left: 5px;
    margin-right: 5px;
}

.swiper-pagination-current {
    margin-right: -9px;
}

.swiper-pagination-total {
    margin-left: -9px;
}

.swiper-pagination-fraction {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #E2E2E2;
}

.swiper-pagination-current {
    color: #87AE1B;
}

.sections-container.hidden-building-control {
    display: none;
}

.swiper-container.hidden-sections-slides {
    display: none;
}

.sections-floors__controls.hidden-sections-control {
    display: none;
}

.swiper__container.hidden-slider {
    display: none;
}
/* START advantages section style */
.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.advantages::before {
    content: "";
    position: absolute;
    width: 1496px;
    height: 100%;
    background-color: #F6F8F1;
    border-radius: 0px 3px 3px 0px;
    z-index: -1;
}

.advantages .section-title {
    margin-top: 80px;
    margin-bottom: 60px;    
}

.advantages-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 970px;
}

.advantages-list__item {
    max-width: 280px;
    width: 100%;
    margin-bottom: 24px;
}

.advantages-list__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #87AE1B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-list__icon .icon {
    width: 16px;
    height: 16px;
}

.advantages-list__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    max-width: 280px;
    margin-top: 16px;
    margin-bottom: 0;
}

.advantages__slider {
    margin-top: 30px;
    margin-bottom: 24px;
}

.advantages-slider .swiper-slide img {
    max-width: 1200px;
    height: 484px;
    width: 100%;
}

.advantages-slider .swiper-slide {
    border: 10px solid #87AE1B;
    border-radius: 3px;
    background: #87AE1B;
}

.advantages-slider__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.advantages-slider__controls .slider-controls {
    position: relative;
}

.advantages-slider__controls .slider-controls.swiper-button-disabled {
    opacity: 1;
}

.advantages-btn__prev {
    left: 40px;
}

.advantages-btn__next {
    right: 40px;
}

.advantages-info {
    max-width: 1045px;
    width: 86%;
}

.advantages-info__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}

.advantages-info__wrapp {
    display: flex;
    align-items: center;
}

.advantages-info__box {
    display: flex;
    align-items: center;
}

.advantages-info__item {
    display: flex;
    flex-direction: column;
}

.advantages-info__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #87AE1B;
}

.advantages-info__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.advantages-info__item:first-child,
.advantages-info__box:first-child {
    margin-right: 32px;
}
/* END advantages section style */
/* START form section style */
.faq {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.faq__container {
    max-width: 1200px;
    width: 90%;
    background-color: #F6F8F1;
    background-image: url('../images/FAQ/building.png');
    background-repeat: no-repeat;
    background-position: right 165px;
    background-size: 615px;
    border: 3px solid #87AE1B;
    position: relative;
}

.faq__container::before {
    content: "";
    position: absolute;
    background-image: url('../images/FAQ/woman.png');
    width: 527px;
    height: 546px;
    right: 27px;
    bottom: 0;
}

.faq-form {
    max-width: 424px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 72px;
}

.faq-form__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 110.6%;
    text-transform: uppercase;
    color: #87AE1B;
    margin-top: 0;
    margin-bottom: 0;
}

.faq-form__text {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}

.faq-form .main-button {
    min-width: 316px;
    padding: 16px 10px;
}

.faq-label {
    display: block;
    max-width: 312px;
    width: 100%;
    margin-bottom: 16px;
}

.faq-input {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    max-width: 312px;
    width: 100%;
    padding: 15px 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.faq-input::placeholder {
    color: #BDBDBD
}
/* END form section style */
/* START price section style */
.price {
    background: #F6F8F1;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.price-slider__controls {
    display: none;
}

.price .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.price-slider__img {
    max-width: 280px;
    height: 280px;
    background: #FCFCFC;
    border: 1px solid #87AE1B;
    border-radius: 3px;
    padding: 12px 23px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.price-slider__info {
    max-width: 270px;
}

.price-slider__title {
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-slider__title .price-amount {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #87AE1B;
    min-width: 127px;
}

.price-slider__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.price-slider__item {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    position: relative;
    padding-left: 8px;
}

.price-slider__item:not(:last-child) {
    margin-bottom: 6px;
}

.price-slider__item:last-child {
    margin-bottom: 16px;
}

.price-slider__item::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #87AE1B;
    border-radius: 50%;
    top: calc(50% - 2px);
    left: 0px;
}

.price .swiper-slide {
    padding-left: 10px;
}
/* END price section style */
/* START tech-character section style */
.tech {
    padding-top: 40px;
    padding-bottom: 60px;
}

.tech-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.tech_title .section-title {
    margin-bottom: 10px;
}

.tech_text {
    margin-top: 0;
    margin-bottom: 0;
}

.tech .main-button {
    min-width: 283px;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.tech-item {
    max-width: 280px;
    width: 100%;
    background: #F6F8F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.tech-item .icon {
    width: 40px;
    height: 40px;
}

.tech-item__title {
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.tech-item__info {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
/* END tech-character section style */
::-webkit-scrollbar {width: 12px;height: 12px;}
::-webkit-scrollbar-track-piece {background:rgba(0,0,0,0);}
::-webkit-scrollbar-thumb:vertical {height:10px;background:#87AE1B;}
::-webkit-scrollbar-thumb:vertical:hover {background:#333333;}

@media(max-width: 1500px) {  
    .swiper-slide__content_blok {
        padding-top: 250px;
    }
    .about-building::before {
        width: 528px;
    }
    .about-building::after {
        left: 120px;
    }
    .sections {
        min-width: 438px;
    }
    .sections-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .sections-planning {
        margin-bottom: 32px;
    }
}

@media(max-width: 1200px) {
    .logo {
        width: 150px;
    }
    .nav-list__link, 
    .phone-number {
        font-size: 12px;
        line-height: 14px;
    }
    .order-call {
        min-width: 146px;
        padding: 14px 10px;
    }
    .swiper-wrap {
        align-items: flex-start;
    }
    .nav-list__item:not(:last-child),
    .phones-block {
        margin-right: 12px;
    }
    .about-building::before {
        width: 428px;
    }
    .about-building__content {
        max-width: 472px;
    }
    .about-building::after {
        left: 60px;
    }
}

@media(max-width: 1000px) {
    .nav-list {
        margin-left: 40px;
        flex-wrap: wrap;
    }
    .phones-block {
        min-width: 150px;
    }
    .nav-list__link {
        font-size: 14px;
        line-height: 16px;
    }
    .nav-list__item {
        margin-bottom: 8px;
    }
    .main-slider__content {
        max-width: 575px;
    }
    .main-title {
        font-size: 44px;
        line-height: 55px;
        margin-top: 14px;
    }
    .main-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .swiper-wrap {
        width: 180px;
        top: 22%;
        left: calc(50% + 200px);
    }
    .swiper-slide__content_blok {
        padding-top: 300px;
    }
    .about-building {
        padding-top: 80px;
    }
    .about-building::before {
        top: 102px;
    }
    .about-building__content {
        max-width: 330px;
        margin-bottom: 0;
    }
    .section-title {
        font-size: 44px;
        line-height: 55px;
    }
    .section-text {
        font-size: 14px;
        line-height: 24px;
    }
    .sections-plann__content {
        flex-direction: column;
    }
    .sections {
        max-width: 592px;
        padding-top: 30px;
        padding-bottom: 31px;
    }
    .sections-building {
        margin-bottom: 15px;
    }
    .sections-container {
        flex-direction: row;
        margin-bottom: 0;
    }
    .sections-planning {
        margin-bottom: 25px;
    }
    .swiper__container {
        max-width: 592px;
    }
}
@media(max-width: 820px) {
    .header__phones {
        margin-left: auto;
    }
    .header__desktop > .header__logo {
        display: none;
    }
    .header__desktop > .navigation {
        display: none;
    }

    .burger-menu {
        display: block;
        background-color: #fff;
        height: 55px;
        width: 55px;
        position: fixed;
        top: 16px;
        left: 16px;
        border-radius: 50%;
        z-index: 111;
        box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
        text-align: center;
        cursor: pointer;
        transition-duration: .4s;
    } 
    .burger-menu__line {
        position: relative;
        margin-top: 26px;
        width: 25px;
        height: 3px;
        background-color: #333;
        display: inline-block;
        transition-duration: .4s;
    }
    .burger-menu__line::before, 
    .burger-menu__line::after {
        content: "";
        width: 25px;
        height: 3px;
        background-color: #333;
        display: inline-block;
        position: absolute;
        left: 0;
        transition: all .2s;
    }
    .burger-menu__line::before {
        top: -7px;
    }
    .burger-menu__line::after {
        top: 7px;
    }
    .burger-menu:hover .burger-menu__line::before {
        top: -9px;
    }
    .burger-menu:hover .burger-menu__line::after {
        top: 9px;
    }
    .burger-menu.burger-menu__active .burger-menu__line {
        background-color: transparent;
    }
    .burger-menu.burger-menu__active .burger-menu__line::before {
        top: 0;
        transform: rotate(135deg);
    }
    .burger-menu.burger-menu__active .burger-menu__line::after {
        top: 0;
        transform: rotate(-135deg);
    }
    .navigation__mobile {
        height: 100vh;
        position: fixed;
        display: flex;
        top: 0;
        left: -70px;
        z-index: 110;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(.68,-.55,.265,1.55);
        width: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .navigation__mobile.navigation__active {
        opacity: 1;
        width: 100%;
        left: 0;
    }
    .navigation-bg {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        position: fixed;
        top: 16px;
        left: 16px;
        background-image: radial-gradient(rgba(126,213,111,.9),#87AE1B);
        z-index: 101;
        transition: transform .8s cubic-bezier(.86,0,.07,1);
        transition: transform .8s cubic-bezier(.86,0,.07,1),-webkit-transform .8s cubic-bezier(.86,0,.07,1);
    }

    .navigation-bg.navigation-bg__active {
        transform: scale(80);
    }

    .navigation__mobile .header__logo {
        margin-bottom: 25px;
    }

    .navigation__mobile .header__logo .logo {
        width: 250px;
    }

    .navigation__mobile .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .navigation__mobile .nav-list__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .navigation__mobile .nav-list__link {
        font-size: 24px;
        line-height: 26px;
    }

    .navigation__mobile .nav-list__item:hover .nav-list__link  {
        color: #0E0D09;
    }
    .main-slider__content {
        max-width: 475px;
    }
    .main-title {
        font-size: 34px;
        line-height: 45px;
    }
    .main-text {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .swiper-wrap {
        top: 25%;
        left: calc(50% + 175px);
    }
    .slide-item {
        width: 136px;
        margin-bottom: 10px;
    }
    .slide-item__box {
        width: 124px;
        margin: 0 auto;
        padding-top: 6px;
    }
    .slide-item__preview {
        width: 124px;
        height: 88px;
    }
    .slide-item_text {
        max-width: 122px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navigation__mobile .phones-block {
        display: none;
    }
    .about-building::before {
        content: none;
    }
    .about-building::after {
        left: 25px;
        height: 110px;
        top: -50px;
    }
    .about-building__content {
        max-width: 490px;
        margin: 0 auto;
    }
    .section-title {
        margin-bottom: 20px;
    }
    .planning img {
        margin: 0 auto;
        width: 100%;
    }
    .sections {
        width: 100%;
    }
    .sections-container {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
}

@media(max-width: 688px) {
    .slide-item__container {
        display: none;
    }
}
@media(max-width: 533px) {
    .main-slider__controls {
        display: none;
    }
    .main-slider__content  {
        width: 90%;
    }
    .main-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sections {
        min-width: 320px;
    }
    .sections-building__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sections-building__bnt:first-child {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .sections-planning__container {
        flex-wrap: wrap;
    }
    .sections-label:first-child {
        margin-bottom: 8px;
    }
}
@media(max-width: 400px) {
    .phones-block {
        display: none;
    }
    .navigation__mobile .phones-block {
        display: flex;
    }
    .navigation__mobile .nav-list__link,
    .navigation__mobile .phone-number {
        font-size: 20px;
        line-height: 22px;
    }

    .navigation__mobile .phone-number:hover {
        color: #0E0D09;
    }

    .navigation__mobile .phone-number:hover .icon {
        fill: #0E0D09;
    }

    .navigation__mobile .phone-number:first-child {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media(max-width: 320px) {
    .wrapper {
        outline: 2px solid red;
    }
}

@keyframes borderRun {
    25% {
        border-top: 2px solid #87AE1B;
    }
    50% {
        border-right: 2px solid #87AE1B;
    }
    75% {
        border-bottom: 2px solid #87AE1B;
    }
    100% {
        border: 2px solid #87AE1B;
    }
}

/* ::-webkit-scrollbar-thumb:horizontal {width:10px;background:#87AE1B;}
::-webkit-scrollbar-thumb:horizontal:hover {background:#333333;} */